@font-face {
  font-family: "GeneralSans-Variable";
  src:
    url("./GeneralSans-Variable.woff2") format("woff2"),
    url("./GeneralSans-Variable.woff") format("woff"),
    url("./GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-VariableItalic";
  src:
    url("./GeneralSans-VariableItalic.woff2") format("woff2"),
    url("./GeneralSans-VariableItalic.woff") format("woff"),
    url("./GeneralSans-VariableItalic.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
    font-family: "SourceCodePro-VariableFont";
    src: url("./SourceCodePro-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "SourceCodePro-VariableFontItalic";
    src: url("./SourceCodePro-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: italic;
}