- name: Install Kubernetes
  snap:
    name: microk8s
    classic: true
    channel: 1.35/stable
    state: present
- name: Wait for microk8s to be ready
  command: microk8s status --wait-ready
- name: Install Gateway CRDs
  shell: |
    microk8s kubectl apply --server-side -f https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.4.1/standard-install.yaml
- name: Install microk8s addons
  raw: microk8s enable {{ item }}
  register: enable_addon
  failed_when: "(enable_addon is failed) and ('already enabled' not in enable_addon.stdout)"
  changed_when: "enable_addon.rc == 0 and ('already enabled' not in enable_addon.stdout)"
  loop: [
    "dns",
    "rbac",
    "helm",
    "metrics-server",
    "cert-manager",
    "observability",
    "metallb:10.64.0.1-10.64.255.255",
    "istio"
  ]
- name: Install istio
  shell: |
    microk8s istioctl install -y
- name: Set microk8s aliases
  lineinfile:
    path: /etc/bash.bashrc
    line: "alias {{ item }}='microk8s {{ item }}'"
    regexp: "^alias {{ item }}="
  loop: ["kubectl", "helm"]
