- name: Create origin-ca-issuer directory
  file:
    path: "{{ originCaIssuer.downloadDir }}/extracted"
    state: directory
- name: Download origin-ca-issuer
  get_url:
    url: "{{ originCaIssuer.archiveUrl }}"
    dest: "{{ originCaIssuer.downloadDir }}/originCaIssuer.tar.gz"
    timeout: 300
- name: Extract origin-ca-issuer
  unarchive:
    src: "{{ originCaIssuer.downloadDir }}/originCaIssuer.tar.gz"
    dest: "{{ originCaIssuer.downloadDir }}/extracted"
    remote_src: true
- name: Deploy origin-ca-issuer manifests
  shell:
    chdir: "{{ originCaIssuer.downloadDir }}/extracted/{{ originCaIssuer.extractedDirectoryName }}"
    cmd: |
      microk8s kubectl apply -f deploy/crds
      microk8s kubectl apply -f deploy/rbac
      microk8s kubectl apply -f deploy/manifests
- name: Clean up after origin-ca-issuer download
  file:
    path: "{{ originCaIssuer.downloadDir }}"
    state: absent
