{{ $config := .Values.panel.api.config }}
{{ $isYaml := kindIs "map" $config }}
{{ $isString := kindIs "string" $config}}

{{- if not (or $isYaml $isString) -}}
{{- fail "panel.api.config must be either string or map" -}}
{{- end -}}

{{ $stringContent := ternary (toYaml $config) $config $isYaml }}

apiVersion: v1
kind: Secret
metadata:
  name: panel-api-config
  namespace: {{ .Release.Namespace }}
  labels: {{ include "panel-api.labels" . | nindent 4 }}
data:
  "panel-pod-config.yaml": {{ tpl $stringContent . | b64enc | quote }}