name: Build and deploy Docker images
on:
  release:
    types:
      - released
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      packages: write
    env:
      TAG_PREFIX: ghcr.io/mlodzi-razem
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set Git variables
        run: |
          echo "SOURCE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - name: Set project version in pom.xml
        run: mvn versions:set -DnewVersion=$SOURCE_TAG
        env:
          SOURCE_TAG: ${{ env.SOURCE_TAG }}
      - name: Set project version in remaining files
        run: grep -rlZ "0.0.0-MRPANEL-SNAPSHOT" . | xargs -0 sed -i "s/0.0.0-MRPANEL-SNAPSHOT/$SOURCE_TAG/g"
        env:
          SOURCE_TAG: ${{ env.SOURCE_TAG }}
      - name: Create source code artifact with versions updated
        run: |
          cd "${{github.workspace}}"
          zip -r "code_${{ github.event.release.tag_name }}.zip" .
          gh release upload ${{github.event.release.tag_name}} "code_${{ github.event.release.tag_name }}.zip"
          rm "code_${{ github.event.release.tag_name }}.zip"
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Setup Graphviz for PlantUML
        uses: ts-graphviz/setup-graphviz@v2
      - name: Build documentation
        run: |
          mvn --batch-mode \
              --update-snapshots \
              -e \
              -DskipTests \
              --projects docs \
              --also-make \
              clean package
      - name: Build `services` images
        run: |
          find ./services -maxdepth 1 -type d -exec \
            docker build --no-cache \
             --file=services/{}/docker/Dockerfile \
             -t $TAG_PREFIX/{}:$SOURCE_TAG \
             -t $TAG_PREFIX/{}:latest \
              ./ \;
        env:
          SOURCE_TAG: ${{ env.SOURCE_TAG }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push services
        run: find ./services -maxdepth 1 -type d -exec docker push --all-tags $TAG_PREFIX/{} \;
      - name: Create documentation artifact
        run: |
          cd "${{github.workspace}}/docs/target/generated-docs"
          zip -r docs.zip .
          gh release upload ${{github.event.release.tag_name}} docs.zip
          rm docs.zip
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Create Helm chart artifact
        run: |
          cd "${{github.workspace}}/cloud/chart"
          zip -r chart.zip .
          gh release upload ${{github.event.release.tag_name}} chart.zip
          rm chart.zip
        env:
          GITHUB_TOKEN: ${{ github.token }}
